
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style=" color: red; font-size: 20px;">ĐÂY LÀ TRANG CHỦ ADMIN</h2>

<div style="text-align: center; margin-top: 20px;">
    <a href="@Url.Action("Index", "MotoBikeStore")" style="display: inline-block; padding: 10px 20px; background-color: #ff4500; color: white; text-decoration: none; border-radius: 5px;">Trở lại trang mua sắm</a>
</div>